button {
  border-radius: 3px;
  padding: 8px 25px;
  font-weight: 500 !important;
}
button.btn-primary {
    background-color: rgb(106, 29, 177);
    color:white;
}
button.btn-success {
  background-color: #4CAF50;
  color: white;
}
button.btn-success:hover {
  background-color: #45a049;
}
button.btn-secondary {
  background-color: #e7e7e7;
  color: black;
}
button.btn-secondary:hover {
  background-color: #d6d6d6;
}
button.btn-danger {
  background-color: #f44336;
  color: white;
}
button.btn-danger:hover {
  background-color: #da190b;
}
button.btn-warning {
  background-color: #ff9800;
  color: white;
}
button.btn-warning:hover {
  background-color: #e68a00;
}